.about {
    font-family: $text-font;
    padding: 3rem;
    color: $primary-color;
    #confeiteiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5rem;
        img {
            width: 400px;
            box-shadow: 1px 1px 1px $primary-color;
        }
    }
    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .about-description {
            height: 400px;
            padding: 3rem;
            color: $primary-color;
            h2 {
                font-size: 4rem;
                margin-top: 5rem;
            }
            h5 {
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
}