.about {
    font-family: $text-font;
    color: $primary-color;
    #confeiteiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 5rem;
        img {
            width: 400px;
            box-shadow: 1px 1px 1px $bg-color-secondary;
            &:hover {
                opacity: 95%;
                box-shadow: none;
            }
        }
    }
    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 5rem;
        .about-description {
            height: auto;
            letter-spacing: 0.5rem;
            background: linear-gradient(0deg, rgb(141, 20, 40) 0%, rgba(34,4,4,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-shadow: 1px 1px $main-color;
            h1 {
                font-size: 4rem;
                margin-top: 5rem;
            }
            h5 {
                font-size: 2.5rem;
                letter-spacing: 1px;
            }
        }
    }
}