.curiosidades {
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: $tertiary-color;
    background-image: url(../images/brigadeiro-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    #background-description {
        background: rgba(34, 4, 4, 0.8);
        width: 100vw;
        height: auto;
        #curiosidades-text {
            padding: 5rem;
            h1, h5 {
                font-family: $text-font;
            }
            h1 {
                font-size: 5rem;
            }
            h5 {
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
}