header {
    background-color: $bg-color-secondary;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    z-index: 3;
    img {
        width: 150px;
        height: auto;
        border-radius: 100%;
    }
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    background: linear-gradient(0deg, rgb(245, 189, 198) 0%, rgb(207, 112, 112) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: $text-font;
                    font-size: 3.5rem;
                    &:hover {
                        background: #fff;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    .menu-mobile, .btn-mobile {
        visibility: hidden;
        display: none;
    }
}