header {
    background-color: $tertiary-color;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    img {
        width: 200px;
        height: 170px;
        border-radius: 100%;
        margin-left: 5rem;
    }
    .midias {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        margin-right: 3rem;
        i {
            font-size: 4rem;
            padding: 0.5rem;
            color: $tertiary-color;
            background: $bg-color-primary;
            border-radius: 1rem;
        }
    }
}