.modal-container {
    .modal-header {
        h4 {
            color: $primary-color;
        }
    }
    .modal-body {
        h5, h6, p {
            color: $primary-color;
        }
        h5 {
            font-size: 2rem;
        }
        h6 {
            font-size: 1.4rem;
            color: $main-color;
        }
        p {
            font-size: 1.6rem;
        }
    }
    .modal-footer {
        .btn {
            background: $main-color;
        }
    }
}