.navbar {
    width: 100%;
    height: 5rem;
    background: $bg-color-primary;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $tertiary-color;
                font-family: $text-font;
                font-size: 2.5rem;
                &:hover {
                    text-shadow: 0 0 1px;
                }
            }
        }
    }
}