#products {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5rem;
    background-color: $tertiary-color;
    font-family: $text-font;
    z-index: 2;
    visibility: hidden;
    #carousel-title {
        color: $main-color;
        .line-up {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .close {
                background: linear-gradient(0deg, rgb(250, 62, 93) 0%, rgba(34,4,4,1) 100%);
                color: $tertiary-color;
                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                width: 40px;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #610211;
                }
            }
        }
        h1 {
            font-size: 6rem;
            background: linear-gradient(0deg, rgb(250, 62, 93) 0%, rgba(34,4,4,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    #carousel {
        margin-top: 8rem;
        margin-bottom: 8rem;
        img {
            width: auto;
            height: 250px;
            margin-bottom: 1rem;
        }
        h4 {
            margin-top: 2rem;
            font-size: 2.5rem;
            color: $primary-color;
        }
        p {
            font-size: 1.6rem;
            color: $secondary-color;
        }
    }
    .owl-prev, .owl-next {
        font-size: 8rem;
        color: $main-color;
    }
    .pedir-agora {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: $primary-color;
        h1 {
            font-size: 3rem;
        }
        .pedir-contato {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            i {
                font-size: 4rem;
                margin-right: 1rem;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.6rem;
                letter-spacing: 1px;
            }
        }
    }
    #contact-product {
        background-color: $tertiary-color;
        width: 100%;
        padding: 4rem;
        .line-footer {
            width: 100%;
            text-align: center;
            padding: 2rem;
            .line-center {
                width: 100%;
                border-bottom: 1px solid $primary-color;
            }
        }
        .menus {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
            margin-top: 2rem;
            color: $main-color;
            .endereco, .atendimento,
            .pedido, .entregas {
                text-align: center;
                width: 25%;
                h2 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1.6rem;
                    letter-spacing: 1px;
                }
            }
        }
        .midias-footer {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            i {
                font-size: 2rem;
                padding: 0.5rem;
                color: $tertiary-color;
                background: $main-color;
                border-radius: 1rem;
            }
        }
        .top {
            width: 100%;
            font-size: 15px;
            text-align: center;
            a {
                text-decoration: none;
                color: $main-color;
                font-family: $text-font;
                &:hover {
                    text-shadow: 0 1px 1px $tertiary-color;
                }
            }
        }
    }
}