#products {
    background-color: $tertiary-color;
    text-align: center;
    h2 {
        margin-top: 12rem;
        font-family: $text-font;
        background: linear-gradient(0deg, rgb(250, 62, 93) 0%, rgba(34,4,4,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .cards {
            margin-top: 5rem;
            width: 31%;
            img {
                width: 100%;
                height: 250px;
            }
            .produto {
                height: auto;
                background: #fff;
                padding: 2rem;
                h5, p {
                    color: $primary-color;
                    font-family: $text-font;
                }
                h5 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.6rem;
                }
                .btn {
                    background: $bg-color-primary;
                    color: $tertiary-color;
                }
            }
        }
    }
}