@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        img {
            width: 150px;
            height: 110px;
            margin: 0;
        }
        .midias {
            margin: 0;
            i {
                font-size: 2rem;
            }
        }
    }
    .navbar {
        display: none;
    }
}