$main-color: #800317;
$primary-color: #220404;
$secondary-color: #039dc4;
$tertiary-color: #faeeba;
$bg-color-primary: linear-gradient(0deg, #800317 0%, rgba(34,4,4,1) 100%);
$text-font: 'Oleo Script Swash Caps';