@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Lato:wght@300&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
header {
  background-image: url(../images/header-background.jpg);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
}
header img {
  width: 150px;
  height: auto;
  border-radius: 100%;
  margin-left: 2rem;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-right: 2rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #800317;
  font-family: "Oleo Script Swash Caps";
  font-size: 3.5rem;
}
header .navbar ul li a:hover {
  color: #800317;
  text-shadow: 0.5px 0.5px;
  border-bottom: 1px solid #800317;
}
header .menu-mobile, header .btn-mobile {
  visibility: hidden;
  display: none;
}
header .cart {
  position: relative;
  z-index: 3;
}
header .cart #cart-btn {
  position: relative;
  background: none;
  border: none;
  font-size: 2.5rem;
  padding: 5px;
  display: flex;
  color: #800317;
  font-weight: bolder;
}
header .cart #cart-btn .cart-status {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 3vh;
  left: -2px;
  color: #f00;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .cart .cart-list {
  position: absolute;
  top: 6vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: #fff;
  z-index: 2;
  visibility: hidden;
}
header .cart .cart-list .list-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
header .cart .cart-list .list-title #close-cartList {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  background-color: #800317;
  color: #faeeba;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
}
header .cart .cart-list .list-title h1 {
  font-size: 2rem;
  color: #800317;
  margin-bottom: 2rem;
}
header .cart .cart-list .cart-listProducts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .cart .cart-list .cart-listProducts .cart-product, header .cart .cart-list .cart-listProducts .cart-qntd, header .cart .cart-list .cart-listProducts .cart-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #800317;
  border-bottom: 1px solid #800317;
  margin-bottom: 1rem;
}
header .cart .cart-list .cart-listProducts .cart-product .descricao-produto {
  width: 200px;
  font-size: 1.4rem;
}
header .cart .cart-list .cart-listProducts .cart-product #produtoNome {
  width: auto;
  font-size: 1.4rem;
  font-weight: bolder;
}
header .cart .cart-list .cart-listProducts .cart-qntd .qntd-produto {
  width: 200px;
  font-size: 1.4rem;
}
header .cart .cart-list .cart-listProducts .cart-qntd #produtoQntd {
  width: auto;
}
header .cart .cart-list .cart-listProducts .cart-qntd #produtoQntd #products-number {
  width: 3rem;
  color: #800317;
  font-size: 1.4rem;
  font-weight: bolder;
}
header .cart .cart-list .cart-listProducts .cart-qntd #produtoQntd #products-number input {
  outline: none;
}
header .cart .cart-list .cart-listProducts .cart-price .valor-produto {
  width: 200px;
  font-size: 1.4rem;
}
header .cart .cart-list .cart-listProducts .cart-price #produtoValor {
  width: auto;
  font-size: 1.4rem;
  font-weight: bolder;
}
header .cart .cart-list #finaliza-compra {
  margin-top: 1rem;
  background-color: #800317;
  color: #faeeba;
  font-size: 1.4rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
}
header .cart .cart-list #finaliza-compra:hover {
  background-color: #f00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

.carousel-caption h2 {
  font-size: 6rem;
  font-family: "Oleo Script Swash Caps";
  color: #faeeba;
  text-shadow: 0 1px 1px #000;
}

.featured {
  text-align: center;
}
.featured h2 {
  margin-top: 12rem;
  font-family: "Oleo Script Swash Caps";
  background: linear-gradient(0deg, rgb(250, 62, 93) 0%, rgb(34, 4, 4) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}
.featured .cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;
}
.featured .cards-container .cards {
  margin-top: 5rem;
  width: 31%;
}
.featured .cards-container .cards img {
  width: 100%;
  height: 250px;
}
.featured .cards-container .cards img:hover {
  opacity: 90%;
  border: 2px solid #fff;
}
.featured .cards-container .cards .produto {
  height: auto;
  padding: 2rem;
  color: #800317;
}
.featured .cards-container .cards .produto h5, .featured .cards-container .cards .produto h6 {
  font-size: 2rem;
  font-family: "Oleo Script Swash Caps";
}
.featured .cards-container .cards .produto h6 {
  color: #039dc4;
}
.featured .cards-container .cards .produto .btn {
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  background: linear-gradient(0deg, #800317 0%, rgb(34, 4, 4) 100%);
  font-size: 1.2rem;
  color: #fff;
}
.featured .btn-container {
  margin-top: 5rem;
  text-align: center;
}
.featured .btn-container .btn-modal {
  width: 180px;
  height: 60px;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: linear-gradient(0deg, #800317 0%, rgb(34, 4, 4) 100%);
}
.featured .btn-container .btn-modal:hover {
  background: #610111;
}
.featured .btn-container .btn-modal a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.modal-container .modal-header h4 {
  color: #220404;
}
.modal-container .modal-body h5, .modal-container .modal-body h6, .modal-container .modal-body p {
  color: #220404;
}
.modal-container .modal-body h5 {
  font-size: 2rem;
}
.modal-container .modal-body h6 {
  font-size: 1.4rem;
  color: #800317;
}
.modal-container .modal-body p {
  font-size: 1.6rem;
}
.modal-container .modal-footer .btn {
  background: #800317;
}

.curiosidades {
  margin-top: 5rem;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  color: #faeeba;
  background-image: url(../images/brigadeiro-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.curiosidades #background-description {
  background: rgba(34, 4, 4, 0.8);
  width: 100vw;
  height: auto;
}
.curiosidades #background-description #curiosidades-text {
  padding: 5rem;
}
.curiosidades #background-description #curiosidades-text h1, .curiosidades #background-description #curiosidades-text h5 {
  font-family: "Oleo Script Swash Caps";
  color: #faeeba;
}
.curiosidades #background-description #curiosidades-text h1 {
  font-size: 5rem;
}
.curiosidades #background-description #curiosidades-text h5 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.about {
  font-family: "Oleo Script Swash Caps";
  background-color: #faeeba;
  color: #220404;
}
.about #confeiteiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 5rem;
}
.about #confeiteiro img {
  width: 400px;
  box-shadow: 1px 1px 1px #0c0202;
}
.about #confeiteiro img:hover {
  opacity: 95%;
  box-shadow: none;
}
.about #sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 5rem;
}
.about #sobre .about-description {
  height: auto;
  letter-spacing: 0.5rem;
  background: linear-gradient(0deg, rgb(141, 20, 40) 0%, rgb(34, 4, 4) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 1px 1px #800317;
}
.about #sobre .about-description h1 {
  font-size: 4rem;
  margin-top: 5rem;
}
.about #sobre .about-description h5 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

#contact {
  width: 100%;
  padding: 4rem;
  background-color: #220404;
}
#contact .line-footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
}
#contact .line-footer .line-center {
  width: 100%;
  border-bottom: 1px solid #faeeba;
}
#contact .menus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  color: #faeeba;
}
#contact .menus .endereco, #contact .menus .atendimento,
#contact .menus .pedido, #contact .menus .entregas {
  text-align: center;
  width: 25%;
}
#contact .menus .endereco h2, #contact .menus .atendimento h2,
#contact .menus .pedido h2, #contact .menus .entregas h2 {
  font-size: 2rem;
}
#contact .menus .endereco p, #contact .menus .atendimento p,
#contact .menus .pedido p, #contact .menus .entregas p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
#contact .midias-footer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
#contact .midias-footer i {
  font-size: 2rem;
  padding: 0.5rem;
  color: #220404;
  background: #faeeba;
  border-radius: 1rem;
}
#contact .top {
  width: 100%;
  font-size: 15px;
  text-align: center;
}
#contact .top a {
  text-decoration: none;
  color: #faeeba;
  font-family: "Oleo Script Swash Caps";
}
#contact .top a:hover {
  text-shadow: 0 1px 1px #faeeba;
}

#products {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5rem;
  background-color: #800317;
  font-family: "Oleo Script Swash Caps";
}
#products #carousel-title {
  color: #800317;
}
#products #carousel-title .line-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#products #carousel-title .line-up .close {
  background: linear-gradient(0deg, rgb(250, 62, 93) 0%, rgb(34, 4, 4) 100%);
  color: #faeeba;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}
#products #carousel-title .line-up .close:hover {
  background: #610211;
}
#products #carousel-title h1 {
  font-size: 8rem;
  background: linear-gradient(0deg, rgb(255, 163, 178) 0%, rgb(238, 209, 209) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#products #carousel {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
#products #carousel img {
  width: 350px;
  height: 250px;
  margin-bottom: 1rem;
}
#products #carousel h4 {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #0c0202;
}
#products #carousel p {
  font-size: 1.6rem;
  color: #faeeba;
  text-shadow: 1px 1px #0c0202;
}
#products .owl-prev, #products .owl-next {
  font-size: 8rem;
  color: #faeeba;
  text-shadow: 1px 1px 2px #0c0202;
}
#products .pedir-agora {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #faeeba;
  text-shadow: 1px 1px #0c0202;
}
#products .pedir-agora h1 {
  font-size: 3rem;
}
#products .pedir-agora .pedir-contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#products .pedir-agora .pedir-contato i {
  font-size: 4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
#products .pedir-agora .pedir-contato i:hover {
  cursor: pointer;
  text-shadow: 1px 1px #faeeba;
}
#products .pedir-agora .pedir-contato a {
  text-decoration: none;
  color: #faeeba;
}
#products .pedir-agora .pedir-contato a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px #faeeba;
}
#products .pedir-agora .pedir-contato p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
#products #contact-product {
  width: 100%;
  padding: 4rem;
  background-color: #0c0202;
}
#products #contact-product .line-footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
}
#products #contact-product .line-footer .line-center {
  width: 100%;
  border-bottom: 1px solid #faeeba;
}
#products #contact-product .menus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  color: #faeeba;
}
#products #contact-product .menus .endereco, #products #contact-product .menus .atendimento,
#products #contact-product .menus .pedido, #products #contact-product .menus .entregas {
  text-align: center;
  width: 25%;
}
#products #contact-product .menus .endereco h2, #products #contact-product .menus .atendimento h2,
#products #contact-product .menus .pedido h2, #products #contact-product .menus .entregas h2 {
  font-size: 2rem;
}
#products #contact-product .menus .endereco p, #products #contact-product .menus .atendimento p,
#products #contact-product .menus .pedido p, #products #contact-product .menus .entregas p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
#products #contact-product .midias-footer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
#products #contact-product .midias-footer i {
  font-size: 2rem;
  padding: 0.5rem;
  color: #220404;
  background: #faeeba;
  border-radius: 1rem;
}
#products #contact-product .top {
  width: 100%;
  font-size: 15px;
  text-align: center;
}
#products #contact-product .top a {
  text-decoration: none;
  color: #faeeba;
  font-family: "Oleo Script Swash Caps";
}
#products #contact-product .top a:hover {
  text-shadow: 0 1px 1px #faeeba;
}

@media (max-width: 480px) {
  header {
    /*Header*/
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  header img {
    width: 150px !important;
    height: 110px !important;
    margin: 0;
  }
  header .midias {
    margin: 0;
  }
  header .midias i {
    font-size: 2rem !important;
  }
  /*Slide*/
  .carousel-caption h2 {
    font-size: 2.5rem !important;
    font-family: "Oleo Script Swash Caps";
    color: #faeeba;
    text-shadow: 0 1px 1px #000;
  }
  /*Featured*/
  .featured h2 {
    margin-top: 8rem;
    font-size: 3.5rem;
  }
  .featured .cards-container .cards {
    width: 100% !important;
  }
  .featured .cards-container .cards img {
    height: 300px;
  }
  /*About*/
  .about #sobre h1 {
    font-size: 3rem !important;
  }
  .about #sobre h5 {
    font-size: 1.6rem !important;
  }
}
@media (max-width: 768px) {
  /*Header*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    /*
    .midias {
        margin: 0;
        i {
            font-size: 3rem;
        }
    }
    */
  }
  header img {
    width: 180px;
    height: 150px;
    margin: 0;
  }
  header .navbar {
    display: none;
  }
  header .btn-mobile {
    display: block !important;
    padding-right: 1rem;
  }
  header .btn-mobile div {
    visibility: visible;
    width: 3rem;
    height: 0.5rem;
    margin: 0.5rem;
    background: #800317;
  }
  header .menu-mobile {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 1.4rem;
    background-color: #800317;
    opacity: 0.95;
    z-index: 4;
  }
  header .menu-mobile li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    padding-top: 2rem;
    list-style: none;
  }
  header .menu-mobile a {
    font-size: 5rem;
    letter-spacing: 1px;
    font-family: "Oleo Script Swash Caps";
    font-weight: bolder;
    color: #faeeba;
    text-decoration: none;
  }
  header .menu-mobile .close-menu {
    width: 6rem;
    border-radius: 1rem;
    background: #faeeba;
    color: #800317;
    font-size: 4rem;
    font-weight: bolder;
    float: right;
  }
  /*Slide*/
  .carousel-caption h2 {
    font-size: 4rem;
    font-family: "Oleo Script Swash Caps";
    color: #faeeba;
    text-shadow: 0 1px 1px #000;
  }
  /*Featured*/
  .cards-container .cards {
    width: 45% !important;
  }
  .cards-container .cards img {
    height: 300px;
  }
  /*Curiosity*/
  .curiosidades #background-description {
    width: 900px;
  }
  .curiosidades #background-description #curiosidades-text {
    padding: 1rem !important;
  }
  .curiosidades #background-description #curiosidades-text h1 {
    font-size: 3rem !important;
  }
  .curiosidades #background-description #curiosidades-text h5 {
    font-size: 1.6rem !important;
  }
  /*About*/
  .about #confeiteiro {
    width: 100%;
  }
  .about #confeiteiro img {
    width: 300px;
  }
  .about #sobre {
    width: 100%;
  }
  .about #sobre .about-description {
    padding: 1rem;
  }
  /*Footer*/
  #contact {
    padding: 2rem;
  }
  #contact .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #contact .menus .endereco, #contact .menus .atendimento,
  #contact .menus .pedido, #contact .menus .entregas {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
  }
  /*Products*/
  #products {
    padding: 2rem;
  }
  #products #carousel-title .line-up .close {
    width: 30px;
    font-size: 1rem;
  }
  #products #carousel-title h1 {
    font-size: 4rem;
  }
  #products #carousel {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  #products #carousel img {
    width: 200px;
    height: 100px;
  }
  #products #carousel h4 {
    font-size: 1.2rem;
  }
  #products #carousel p {
    font-size: 1.4rem;
  }
  #products .owl-prev, #products .owl-next {
    font-size: 5rem;
    color: #800317;
  }
  #products .pedir-agora {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #products .pedir-agora .pedir-contato {
    margin-top: 1rem;
  }
  #products #contact-product {
    padding: 2rem;
  }
  #products #contact-product .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #products #contact-product .menus .endereco, #products #contact-product .menus .atendimento,
  #products #contact-product .menus .pedido, #products #contact-product .menus .entregas {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=style.css.map */